#mesa {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 35px 0;
    color: white;
}

#mesa > h1 {
    margin: 0 0 25px 0;
    font-size: 45px;
    font-family: "Agbalumo";
    font-weight: 400;
    color: #fdfdfd;
    text-decoration: underline;
}

.reser-mesa {
    display: flex;
    flex-direction: row;
}

.dados-mesa {
    padding: 20px;
    width: 50vw;
}

.dados-pessoais {
    padding: 20px;
    width: 25vw;
}

.dados-mesa form, .dados-pessoais form {
    display: flex;
    flex-direction: column;
    border: 2px solid #303030;
    border-radius: 5px;
    padding: 20px;
    background-color: rgba(216, 187, 118, 0.050);
}

form h1 {
    font-size: 30px;
    font-family: "Oswald";
    text-decoration: underline;
    font-weight: bold;
    margin: 0 0 10px 0;
}

form input, select {
    outline: none;
    border: none;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

.dados-pessoais form input, select {
    padding: 8px;
}

label {
    margin: 20px 0 10px 0;
    font-size: 20px;
}

#mesa button {
    margin-top: 15px;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 2px 15px #303030;
    background-color: #525252;
    font-family: "Oswald";
    font-size: 25px;
    color: #fdfdfd;
    cursor: pointer;
}

#mesa button:hover {
    color: #303030;
    box-shadow: 1px 2px 15px #D8BB76;
    background-color: #D8BB76;
    transition: all .4s;
    text-decoration: 2px underline;
}

/* Estilos para o modal */
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
}

.modal-content {
    background-color: #525252;
    box-shadow: 2px 2px 12px #525252;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
}

.mensagem {
    color: #fdfdfd;
    text-decoration: underline;
    font-size: 40px;
    font-family: "Oswald";
}

@media screen and (max-width: 815px) {
    .reser-mesa {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .dados-mesa {
        width: 100%;
    }
    .dados-pessoais {
        width: 100%;
    }
    .modal-content {
        width: 75vw;
    }
}