
#sobre {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 25px 0;
    color: white;
    background-color: #303030;
}

#sobre h1 {
    margin: 15px 0 25px 0;
    font-size: 45px;
    font-family: "Agbalumo";
    font-weight: 400;
    color: #fdfdfd;
    text-decoration: underline;
}

.dados-sobre {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.imgs {
    display: flex;
    flex-wrap: wrap;
    width: 48%;
    margin: 15px;
}

.imgs img {
    width: 305px;
    height: 260px;
    margin: 5px;
    border: 2px solid #C1A460;
    border-radius: 10px;
    box-shadow: 2px 2px 12px #947d4898;
}

.rest-sobre {
    width: 48%;
    font-size: 18px;
    line-height: 22px;
    margin: 15px;
}

@media screen and (max-width: 815px) {
    .dados-sobre {
        display: flex;
        flex-direction: column-reverse;
    }

    .imgs {
        width: 95%;
    }

    .imgs img {
        width: 215px;
        height: 170px;
    }

    .rest-sobre {
        width: 95%;
        flex-wrap: wrap;
    }
}